<table class="table">
  <tr>
    <td>Branch ID</td>
    <td><%= @branch.branch_no %></td>
  </tr>
  <tr>
    <td>Address</td>
    <td><%= @branch.address %></td>
  </tr>
  <tr>
    <td>Bank ID</td>
    <td><%= @branch.bank_id %></td>
  </tr>
  <tr>
    <%= link_to "Delete", @branch, method: :delete, confirm: "Are you sure?" %>
  </tr>
</table>