/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
nav
{
  background-color: #eeeeee;
  border-bottom: solid 1px #aaaaaa;
  /*border-radius: 5px;*/
  height: 45px;
}

.nav 
{
  margin-top: 20px;
}

.table
{
  border: solid 1px #dddddd;
}

#logo
{
  font-size: 25;
  float: right;
  margin-right: 10px;
  background-size: 25; 
}

#signin
{
  margin-left: 43%;
}

.form
{
  margin-left: 43%;
}